# generated: '2026-07-20'
# method: derived
# source: https://github.com/passbase/passbase-php (OpenAPI-generator SDK docs) + https://docs.passbase.com/server/api
# note: Reconstructed faithfully from Passbase's published, OpenAPI-generated server-side
#       SDK documentation (paths, verbs, params, models, auth). Passbase was acquired by
#       Parallel Markets (2023-03) and api.passbase.com / docs.passbase.com are no longer
#       resolvable; this captures the last-published Verifications API v2 surface.
openapi: 3.0.3
info:
  title: Passbase Verifications API
  version: '2.0.0'
  description: >-
    The Passbase Verifications API. A User submits a video selfie and valid
    identifying Resources during a Verification guided by the Passbase
    client-side integration. Data points are extracted, digitized, and
    authenticated, becoming part of the User's Identity. The User consents to
    share Resources and/or Data points, which are passed to you for account
    decisions. Server-to-server access uses the secret API key.
  contact:
    name: Passbase Developer Support
    email: developer@passbase.com
  x-status: discontinued
  x-successor: Parallel Markets
servers:
  - url: https://api.passbase.com/verification/v2
    description: Production (historical; host no longer resolvable)
security:
  - SecuredKeyAuth: []
tags:
  - name: Identity
    description: Access verified identities, their resources and resource files.
  - name: Project
    description: Read project settings and verification configuration.
paths:
  /identities:
    get:
      tags: [Identity]
      operationId: listIdentities
      summary: List identities
      description: List all the identities of your project.
      parameters:
        - name: limit
          in: query
          required: false
          schema: { type: integer }
        - name: cursor
          in: query
          required: false
          schema: { type: string }
      responses:
        '200':
          description: A paginated list of identities.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedIdentities' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '429': { $ref: '#/components/responses/TooManyRequests' }
  /identities/{id}:
    get:
      tags: [Identity]
      operationId: getIdentityById
      summary: Get identity
      description: Get an identity by providing the identity ID.
      parameters:
        - name: id
          in: path
          required: true
          description: Identity id
          schema: { type: string }
      responses:
        '200':
          description: The identity.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Identity' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /identity/{id}/resources:
    get:
      tags: [Identity]
      operationId: listIdentityResources
      summary: List resources
      description: List all the resources attached to an identity.
      parameters:
        - name: id
          in: path
          required: true
          description: Identity id
          schema: { type: string }
      responses:
        '200':
          description: A paginated list of resources.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaginatedResources' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /identity/{id}/resources/{resource_id}:
    get:
      tags: [Identity]
      operationId: getIdentityResourceById
      summary: Get resource
      description: Get a resource attached to an identity by providing the resource ID.
      parameters:
        - name: id
          in: path
          required: true
          description: Identity id
          schema: { type: string }
        - name: resource_id
          in: path
          required: true
          description: Resource id
          schema: { type: string }
      responses:
        '200':
          description: The resource.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Resource' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /identity/{id}/resources/{resource_id}/resource_files/{resource_file_id}:
    get:
      tags: [Identity]
      operationId: getIdentityResourceFileById
      summary: Get resource file
      description: >-
        Get a raw resource file attached to an identity by providing the resource
        ID and the resource file ID. This is a protected route and you'll need a
        specific government authorization to access it.
      parameters:
        - name: id
          in: path
          required: true
          description: Identity id
          schema: { type: string }
        - name: resource_id
          in: path
          required: true
          description: Resource id
          schema: { type: string }
        - name: resource_file_id
          in: path
          required: true
          description: Resource file id
          schema: { type: string }
      responses:
        '200':
          description: The raw resource file.
          content:
            application/octet-stream:
              schema: { $ref: '#/components/schemas/ResourceFile' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }
  /settings:
    get:
      tags: [Project]
      operationId: getSettings
      summary: Get project settings
      description: Get the settings of your project.
      responses:
        '200':
          description: The project settings.
          content:
            application/json:
              schema: { $ref: '#/components/schemas/ProjectSettings' }
        '401': { $ref: '#/components/responses/Unauthorized' }
components:
  securitySchemes:
    SecuredKeyAuth:
      type: apiKey
      in: header
      name: X-API-KEY
      description: >-
        Secret API key sent in the X-API-KEY header. A Bearer JWT
        (identity_access_token) may also be supplied by prefixing the header
        value with "Bearer ".
  responses:
    Unauthorized:
      description: Authentication credentials were missing or invalid.
    Forbidden:
      description: The credentials do not grant access to this resource.
    NotFound:
      description: The requested resource was not found.
    TooManyRequests:
      description: Rate limit exceeded.
  schemas:
    Identity:
      type: object
      properties:
        id: { type: string, description: Unique ID of the identity }
        status: { type: string, description: Current state of the identity in Passbase's systems }
        owner: { $ref: '#/components/schemas/IdentityOwner' }
        score:
          type: number
          format: double
          description: Float between 0 and 1 representing confidence that this identity is valid.
        created: { type: integer, description: Unix-timestamp of when the identity was created }
        updated: { type: integer, description: Unix-timestamp of when the identity was updated }
        resources:
          type: array
          items: { $ref: '#/components/schemas/IdentityResource' }
          description: resources attached to a verification
        metadata:
          type: object
          description: Customer defined arbitrary payload initially passed through the client-sdk
        watchlist: { $ref: '#/components/schemas/WatchlistResponse' }
    IdentityOwner:
      type: object
      properties:
        email: { type: string, description: Email of the user the identity belongs to }
        first_name: { type: string, description: First name of the user the identity belongs to }
        last_name: { type: string, description: Last name of the user the identity belongs to }
    IdentityResource:
      type: object
      properties:
        datapoints:
          type: object
          description: Dynamic key/value hashmap of the data extracted from the resource.
        type: { type: string, description: All resource types that passbase supports }
    Resource:
      type: object
      properties:
        id: { type: string, description: Unique ID representing a resource }
        status: { type: string, description: Current state of the resource in Passbase's systems }
        created: { type: integer, description: Unix-timestamp of when the resource was created }
        updated: { type: integer, description: Unix-timestamp of when the resource was updated }
        type: { type: string, description: All resource types that passbase supports }
        resource_files:
          type: array
          items: { type: object }
    ResourceFile:
      type: object
      properties:
        id: { type: string, description: Unique ID representing a resource file }
        created: { type: integer, description: Unix-timestamp of when the resource was created }
        updated: { type: integer, description: Unix-timestamp of when the resource was updated }
        file:
          type: string
          format: binary
          description: 'Raw bytes: the actual file'
    ResourceInput:
      type: object
      properties:
        type: { type: string, description: All resource types that passbase supports }
        country: { type: string, description: 2-letter code of the country }
        resource_files:
          type: array
          items: { type: object }
        resource_data: { type: object }
        resource_raw_data: { type: object }
    User:
      type: object
      properties:
        email: { type: string, description: Email with which the user was created }
        identity_access_token:
          type: string
          description: Access token (JsonWebToken) used as a Bearer token when submitting identity data
        required_steps:
          type: array
          items: { $ref: '#/components/schemas/ProjectSettingsVerificationSteps' }
          description: List of the steps the user must complete their verification
    Cursor:
      type: object
      properties:
        next:
          type: string
          description: opaque token to pass back to the API to get the next batch of data
    PaginatedIdentities:
      type: object
      properties:
        cursor: { $ref: '#/components/schemas/Cursor' }
        data:
          type: array
          items: { $ref: '#/components/schemas/Identity' }
    PaginatedResources:
      type: object
      properties:
        cursor: { $ref: '#/components/schemas/Cursor' }
        data:
          type: array
          items: { $ref: '#/components/schemas/Resource' }
    ProjectSettings:
      type: object
      properties:
        id: { type: string, description: Unique ID of the project }
        slug: { type: string, description: Slugs are meant to verify people just with the link }
        environment: { type: string }
        organization: { type: string, description: Name of the organization that owns this project }
        customizations: { $ref: '#/components/schemas/ProjectSettingsCustomizations' }
        verification_steps:
          type: array
          items: { $ref: '#/components/schemas/ProjectSettingsVerificationSteps' }
    ProjectSettingsCustomizations:
      type: object
      properties:
        button_color: { type: string, description: '"Verify Me" button background color' }
        accent_color: { type: string, description: 'Accent color during the verification flow' }
        font_family: { type: string, description: Font used in the verification flow }
    ProjectSettingsVerificationSteps:
      type: object
      properties:
        step: { type: string }
        resource_types:
          type: array
          items: { type: string }
    WatchlistResponse:
      type: object
      properties:
        clean: { type: boolean, description: Indicates whether the authentication watchlist check is clean }
        listings: { type: object, description: Watchlist check findings }
        media:
          type: array
          items: { type: object }
          description: List of media entries, with date, title, and url parameters
        sources:
          type: array
          items: { type: string }
          description: Array of listing sources (eg. sanction lists)
        types:
          type: array
          items: { type: string }
          description: What kind of alert or warning is associated with the entity (eg. sanction, pep, warning)
